.content-wrapper > header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 218px;
    background: url("../images/header-bg.png") no-repeat;
    background-size: cover;
}
.profile-general-info-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 1200px;
}
.profile-personal-data-wrapper {
    margin-left: 97px;
    width: 580px;
    height: 97px;
    padding-left: 130px;
    border-radius: 50px;
    background-color: #fff;
}
.profile-photo {
    position: absolute;
    left: -24px;
    width: 230px;
    height: 225px;
    background: url("../images/profile-photo.png") no-repeat;
    background-size: cover;
}
.profile-name {
    font: 700  36px  Raleway-Bold;
    color: #002b41;
    margin: 7px 0 0 2px;
}
.profile-personal-data-wrapper > ul {
    display: flex;
    margin-top: 13px;
}
.profile-personal-data-wrapper li > p {
    margin: 0 30px 0 19px;
    font: 400 16px Raleway-Regular;
    color: #969696;
}
.profile-personal-data-wrapper li{
    display: flex;
    border-right: 1px solid #969696;
    margin-left: 30px;
}
.profile-personal-data-wrapper li:last-child {
    border-right: none;
}
.profile-personal-data-wrapper li:first-child {
    margin-left: 0;
}
.profile-job-icon{
    width: 19px;
    height: 16px;
    background: url("../images/job-icon.png") no-repeat;
    background-size: contain;
}
.profile-home-icon {
    width: 14px;
    height: 20px;
    background: url("../images/home-icon.png") no-repeat;
    background-size: contain;
}
.profile-people-icon {
    width: 20px;
    height: 20px;
    background: url("../images/people-icon.png") no-repeat;
    background-size: contain;
}
.profile-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 99px;
    background-color: #fff;
    border-bottom: 2px solid #f1f1f3;
}
.profile-menu-wrapper {
    width: 1200px;
}
.profile-menu-wrapper > button {
    font: 400 36px "Bebas Neue";
    color: #002b41;
    background-color: #fff;
    width: 240px;
    height: 100px;
    border-bottom: 2px solid #f1f1f3;
}
.photos.active,
.about.active {
    background-color: #f1f1f3;
    border-bottom: 2px solid #5fc0e7;
}
.profile-about-page,
.profile-photos-page {
    display: none;
    justify-content: center;
    width: 100%;
    background-color: #f5fcff;
}
.profile-about-page {
    padding: 52px 0 48px 0;
}

/*.profile-about-page.active,*/
.profile-photos-page.active {
display: flex;
}
.profile-page-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1200px;
}
.profile-about-page > .profile-page-wrapper > section {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
h2 {
    font: 400 30px "Bebas Neue";
    color: #002b41;
    letter-spacing: 1px;
}
h3 {
    font: 700  18px  Raleway-Bold;
    color: #002b41;
}
.profile-page-wrapper section p {
    font: 400 18px Raleway-Regular;
    color: #002b41;
}
.about-education,
.about-people {
    position: relative;
    padding-left: 25px;
    width: 565px;
    height: 333px;
    border-top: 5px solid #5fc0e7;
    border-radius: 5px;
    background-color: #fff;
}
.about-education {
    border-top: 5px solid #f26632;
}
.about-education > h3,
.about-people > h3 {
    margin-top: 27px;
}
.about-education > h2,
.about-people > h2 {
    margin-top: 23px;
}
.about-education > p,
.about-people > p {
    margin-top: 4px;
}
.about-education > a:first-of-type,
.about-people > a:first-of-type {
    position: absolute;
    right: 26px;
    top: 164px;
    font: 300 14px Raleway-Light;
    color: #87d0ed;
    text-decoration: none;
}
.people-photo {
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.people-flex-wrapper {
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    width: 540px;
}
.people-photo:nth-of-type(1) {
     background: url("../images/people1.png") no-repeat;
     background-size: contain;
 }
.people-photo:nth-of-type(2) {
    background: url("../images/people2.png") no-repeat;
    background-size: contain;
}
.people-photo:nth-of-type(3) {
     background: url("../images/people3.png") no-repeat;
     background-size: contain;
 }
.people-photo:nth-of-type(4) {
    background: #fff url("../images/people4.png") no-repeat 50% 100%;
    background-size: 48px 48px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.people-photo:nth-of-type(5) {
    background: url("../images/people5.png") no-repeat;
    background-size: contain;
}
.people-photo:nth-of-type(6) {
    background: #fff url("../images/people4.png") no-repeat 50% 100%;
    background-size: 48px 48px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.people-photo:nth-of-type(7) {
    background: url("../images/people6.png") no-repeat;
    background-size: contain;
}
.profile-edit-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../images/edit-icon.png") no-repeat;
    background-size: contain;
    margin-right: 4px;
}
.about-education > a,
.about-people > a,
.about-work > a,
.about-story > a{
    font: 300 14px Raleway-Light;
    color: #87d0ed;
    text-decoration: none;
}
.about-story > a:last-child,
.about-work > a:last-child,
.about-education > a:last-child,
.about-people > a:last-child{
    display: block;
    margin-top: 29px;
}
.about-story,
.about-work {
    padding-left: 25px;
    width: 562px;
    height: 375px;
    border-top: 5px solid #fa5770;
    border-radius: 5px;
    background-color: #fff;
}
.about-story> h2,
.about-work > h2 {
    margin-top: 23px;
}
.about-story> h3,
.about-work > h3 {
    margin-top: 27px;
}
.about-story > p,
.about-work > p {
    margin-top: 5px;
}
.photos-filter-wrapper {
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: 1200px;
    height: 60px;
    background-color: #fff;
    border-radius: 38px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.photos-filter-wrapper > p {
    height: 18px;
    font: 700 18px Raleway-Bold;
    color: #002b41;
    margin: 0px 27px 0 23px;
}
.photos-filter-wrapper > button {
    font: 400 16px Raleway-Regular;
    color: #002b41;
    background-color: #fff;
}
.photos-filter-wrapper > button:first-of-type {
    padding: 6px 20px;
    color: #fff;
    background-color: #5fc0e7;
    border-radius: 16px;
    margin-right: 49px;
}
.photos-filter-wrapper > button:first-of-type {
    padding: 6px 20px;
    color: #fff;
    background-color: #5fc0e7;
    border-radius: 16px;
    margin-right: 49px;
}
.photos-filter-wrapper > button:nth-of-type(2) {
    margin-right: 71px;
}
.photos-filter-wrapper > button:nth-of-type(3) {
    margin-right: 64px;
}
.photos-filter-wrapper > button:nth-of-type(4) {
    margin-right: 63px;
}
.photos-filter-wrapper > button:nth-of-type(5) {
    margin-right: 73px;
}
.photos-gallery {
    margin: 31px 0 142px 0;
    padding: 25px 25px;
    height: 550px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
.photos-gallery  img {
    width: 274px;
    height: 170px;
    border-radius: 4px;
}
.photo-wrapper {
    position: relative;
    width: 274px;
    height: 170px;
}
.bg-selected-image {
    opacity: 0;
    top: 0;
    position: absolute;
    width: 274px;
    height: 170px;
    background-color: #002b41;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}
.zoom {
    position: absolute;
    top: 37%;
    left: 43%;
    width: 40px;
    height: 40px;
    background: url("../images/zoom-icon.png") no-repeat;
    background-size: contain;
    opacity: 0;
}
.photo-wrapper:hover {
    cursor: pointer;
}
.photo-wrapper:hover .bg-selected-image{
    opacity: .7;
    transition: .5s ease;
 }
.photo-wrapper:hover .zoom {
    opacity: 1;
    transition: .5s ease;
}
.photo-popup {
    /*display: none;*/
    position: relative;
    top:-1180px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1180px;
    background-color: #002b41;
    opacity: .8;
}
.photo-popup > img {
    width: 1200px;
    height: 525px;
}
.close-popup {
    position: absolute;
    top: -22px;
    right: -23px;
    width: 52px;
    height: 52px;
    background: url("../images/close-popup-btn.png") no-repeat;
    background-size: 52px 52px;
}
.photo-popup-wrapper {
    align-self: center;
    position: relative;
    width: 1200px;
    height: 525px;
    background-color: #969696;
}