.content-wrapper {
    min-width: 1200px;
}
.content-wrapper > header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 218px;
    background: url("../images/header-bg.png") no-repeat;
    background-size: 100% 220px;
}
header > .alignment-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.alignment-wrapper {
    width: 1200px;
}
.data-wrapper {
    width: 580px;
    height: 97px;
    margin-left: 97px;
    padding-left: 130px;
    border-radius: 50px;
    background-color: #fff;
}
.profile-avatar {
    position: absolute;
    left: -24px;
    width: 230px;
    height: 225px;
    background: url("../images/profile-avatar.png") no-repeat;
    background-size: cover;
}
h1 {
    margin: 7px 0 0 2px;
    color: #002b41;
    font: 700  36px  RalewayBold;
}
.data-wrapper > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 13px;
}
.data-wrapper li > p {
    margin: 0 30px 0 19px;
    color: #969696;
    font: 400 16px RalewayRegular;
}
.data-wrapper li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid #969696;
    margin-left: 30px;
}
.data-wrapper li:last-child {
    border-right: none;
}
.data-wrapper li:first-child {
    margin-left: 0;
}
.job-icon{
    width: 19px;
    height: 16px;
    background: url("../images/job-icon.png") no-repeat;
    background-size: contain;
}
.home-icon {
    width: 14px;
    height: 20px;
    background: url("../images/home-icon.png") no-repeat;
    background-size: contain;
}
.people-icon {
    width: 20px;
    height: 20px;
    background: url("../images/people-icon.png") no-repeat;
    background-size: contain;
}
#pages-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f5fcff;
}
#tab-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 99px;
    border-bottom: 2px solid #f1f1f3;
    background-color: #fff;
}
#about-btn,
#photos-btn {
    width: 240px;
    height: 101px;
    border-bottom: 2px solid #f1f1f3;
    background-color: #fff;
    color: #002b41;
    font: 400 36px "BebasNeue";
}
#photos-btn.active,
#about-btn.active {
    border-bottom: 2px solid #5fc0e7;
    background-color: #f1f1f3;
}
#first-page,
#second-page {
    display: none;
}
#first-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    height: 747px;
    padding: 52px 0 48px 0;
}
#first-page.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#second-page.active {
    display: block;
}
#first-page > section {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
h2 {
    color: #002b41;
    font: 400 30px "BebasNeue";
    letter-spacing: 1px;
}
h3 {
    color: #002b41;
    font: 700  18px  RalewayBold;
}
.alignment-wrapper section p {
    color: #002b41;
    font: 400 18px RalewayRegular;
}
.education-section,
.people-section {
    position: relative;
    width: 565px;
    height: 333px;
    border-top: 5px solid #5fc0e7;
    border-radius: 5px;
    padding-left: 25px;
    background-color: #fff;
}
.education-section {
    border-top: 5px solid #f26632;
}
.education-section > h3,
.people-section > h3 {
    margin-top: 27px;
}
.education-section > h2,
.people-section > h2 {
    margin-top: 23px;
}
.education-section > p,
.people-section > p {
    margin-top: 4px;
}
.education-section > a:first-of-type,
.people-section > a:first-of-type {
    position: absolute;
    top: 164px;
    right: 26px;
    color: #87d0ed;
    font: 300 14px RalewayLight;
    text-decoration: none;
}
.people-avatar {
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.avatar-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 540px;
    margin-top: 18px;
}
.edit-section:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background: url("../images/edit-icon.png") no-repeat;
    background-size: contain;
}
.education-section > a,
.people-section > a,
.work-section > a,
.story-section > a{
    color: #87d0ed;
    font: 300 14px RalewayLight;
    text-decoration: none;
}
.story-section > a:last-child,
.work-section > a:last-child,
.education-section > a:last-child,
.people-section > a:last-child{
    display: block;
    margin-top: 29px;
}
.story-section,
.work-section {
    width: 562px;
    height: 375px;
    border-top: 5px solid #fa5770;
    border-radius: 5px;
    padding-left: 25px;
    background-color: #fff;
}
.story-section> h2,
.work-section > h2 {
    margin-top: 23px;
}
.story-section> h3,
.work-section > h3 {
    margin-top: 27px;
}
.story-section > p,
.work-section > p {
    margin-top: 5px;
}
.filter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1200px;
    height: 60px;
    border-radius: 38px;
    margin-top: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.filter-wrapper > p {
    height: 18px;
    margin: 0 27px 0 23px;
    color: #002b41;
    font: 700 18px RalewayBold;
}
.filter-wrapper > button {
    background-color: #fff;
    color: #002b41;
    font: 400 16px RalewayRegular;
}
.filter-wrapper > button:first-of-type {
    border-radius: 16px;
    margin-right: 49px;
    padding: 6px 20px;
    background-color: #5fc0e7;
    color: #fff;
}
.filter-wrapper > button:nth-of-type(2) {
    margin-right: 71px;
}
.filter-wrapper > button:nth-of-type(3) {
    margin-right: 64px;
}
.filter-wrapper > button:nth-of-type(4) {
    margin-right: 63px;
}
.filter-wrapper > button:nth-of-type(5) {
    margin-right: 73px;
}
.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 550px;
    border-radius: 4px;
    margin: 31px 0 142px 0;
    padding: 25px 25px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
.gallery  img {
    width: 274px;
    height: 170px;
    border-radius: 4px;
}
.image-wrapper {
    position: relative;
    width: 274px;
    height: 170px;
}
.bg-selected-image {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 274px;
    height: 170px;
    border-radius: 4px;
    background: url("../images/zoom-icon.png") no-repeat #002b41 50% 50%;
    background-size: 40px 40px;
    opacity: 0;
}
.image-wrapper:hover {
    cursor: pointer;
}
.image-wrapper:hover .bg-selected-image{
    opacity: .7;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
#image-popup-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 43, 65, 0.8);
    overflow: auto;
}
.image-popup {
    width: 1200px;
    height: 525px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#large-image {
    width: 100%;
    height: 100%;
}
#close-image-popup {
    position: absolute;
    top: -22px;
    right: -23px;
    width: 52px;
    height: 52px;
    background: url("../images/close-popup-btn.png") no-repeat;
    background-size: 52px 52px;
}
#image-popup-wrapper.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

